alembic
blinker
click
colorama
Flask
Flask-Login
Flask-WTF
Flask-Mail
Flask-Migrate
SQLAlchemy
mysql-connector-python
email-validator
pgvector
python-dotenv
psycopg2-binary
spacy
cloudinary
torch
torchvision
torchaudio
git+https://github.com/openai/CLIP.git